.AppBar {
  background-color: #43A047 !important;
}

.AppBar div {
  background-color: #43A047 !important;
  margin-right: 10px;
  margin-top: 2px;
}

.SearchBox {
  float: left !important;
  height: 55px !important;
}

.SearchBox label {
  top: 20px !important;
}

.SearchBox input {
  height: 70% !important;
  color: white !important;
}

.actionSearch {
  color: white !important;
}

.productsList {
  padding: -10px !important;
  text-align: left;
}
.productsList>div>div {
  padding: 5px !important;
}